:root {
  --wheel-font: "Metropolis", sans-serif;
  --wheel-size: 300px;
  --wheel-slice-spacing: 20px;
  --wheel-border-size: 5px;
  --wheel-color: #832a4b;
  --wheel-compliment-color: #ffdda1;
  --light-shadow-color: rgba(0, 0, 0, 0.25);
  --dark-shadow-color: #000000;
  --PI: 3.14159265358979;
  --nb-item: 0; /* total number of items in wheel */
  --item-nb: 0; /* instantaneous item number */
  --selected-item: 0;
  --nb-turn: 5; /* number of revolutions required */
  --spinning-duration: 6s;
  --reset-duration: 0.2s;
}

.wheel-container {
  display: block;
  position: relative;
  box-sizing: content-box;
  width: calc(var(--wheel-size) + 2 * var(--wheel-border-size));
  height: calc(var(--wheel-size) + 2 * var(--wheel-border-size));
  margin: auto;
  padding: 50px 0 50px 0;
  background-color: var(--neutral-color);
  border: none;
  border-radius: 50%;
  user-select: none;
}

.wheel-container::before,
.wheel-container::after {
  content: "";
  display: block;
  position: relative;
  height: 0;
  width: 0;
  top: 20px;
  transform: rotate(-90deg);
  margin: auto;
  z-index: 2;
  border: solid transparent 20px;
  border-left-width: 0;
}

.wheel-container::before {
  right: 0px;
  border-right-color: var(--wheel-compliment-color);
}

.wheel-container::after {
  right: -5px;
  border-right-color: var(--neutral-color);
}

.wheel {
  display: block;
  position: relative;
  box-sizing: content-box;
  margin: auto;
  width: var(--wheel-size);
  height: var(--wheel-size);
  overflow: hidden;
  border-radius: 50%;
  border: solid var(--wheel-color) var(--wheel-border-size);
  background-color: var(--wheel-color);
  transition: transform var(--reset-duration);
  transform: rotate(0deg);
  cursor: pointer;
}

.wheel.spinning {
  transition: transform var(--spinning-duration);
  transform: rotate(
    calc(
      var(--nb-turn) * 360deg +
        (-360deg * var(--selected-item) / var(--nb-item, 1))
    )
  );
}

.spinner {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  padding-bottom: 0;
  background-color: var(--wheel-compliment-color);
  width: 60px;
  height: 60px;
  z-index: 2;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0px 0px 15px var(--dark-shadow-color);
}

.wheel-item {
  display: block;
  position: absolute;
  box-sizing: border-box;

  top: 50%;
  left: 50%;
  width: 50%;
  transform-origin: center left;
  transform: translateY(-50%)
    rotate(calc(var(--item-nb) * (360deg / var(--nb-item, 1))));

  color: var(--neutral-color);
  text-align: right;
  padding: 0 25px 0 50px;
  font-family: var(--wheel-font);
}

.wheel-arc {
  content: " ";
  display: block;
  position: absolute;
  box-sizing: border-box;
  z-index: -1;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 0px;
  opacity: 0.1;

  --slice-max-width: calc(
    var(--PI) * var(--wheel-size) + var(--wheel-size) / 2
  );
  --slice-width: calc(
    (var(--slice-max-width) / var(--nb-item)) - var(--wheel-slice-spacing)
  );
  border: solid transparent calc(var(--slice-width) / 2);
  border-left: solid transparent 0;
  border-right: solid var(--neutral-color) calc(var(--wheel-size) / 2);
}
